<div class="container">
  <h3>
    Payment Form:
  </h3>

  <!-- First Row -->
  <div class="row"> 
    <div class="col-md-6">
      <label>
        Payee Name:
      </label>
      <input #nameInput class="form-control" (input)="onNameChange(nameInput.value)"/>
    </div>
    <div class="col-md-6">
      <label>
        Name:
      </label>
      <div>
        {{name | titlecase}}
      </div>
    </div>
  </div>

  <!-- Second Row -->
  <div class="row"> 
    <div class="col-md-6">
      <label>
        Payment Date:
      </label>
      <input #dateInput type="date" class="form-control" (input)="onDateChange(dateInput.value)"/>
    </div>
    <div class="col-md-6">
      <label>
        Payment Date:
      </label>
      <div>
        {{date | date: "dd MMMM y" }}
      </div>
    </div>
  </div>

  <!-- Third Row -->
  <div class="row"> 
    <div class="col-md-6">
      <label>
        Payment Amount:
      </label>
      <input #amountInput class="form-control" (input)="onAmountChange(amountInput.value)"/>
    </div>
    <div class="col-md-6">
      <label>
        Payment Amount:
      </label>
      <div>
        {{amount | currency:'GBP' }}
      </div>
    </div>
  </div>
</div>
